@charset "UTF-8";

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Lato;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.hi {
  background-color: #222831;
  padding: 30px 0;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.hi_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hi_titel {
  font-size: 42px;
  font-weight: 900;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 50px;
}

.hi_list {
  font-size: 22px;
  line-height: 1.5;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px 0;


}

.hi_list li {}

.footer {
  background-color: #222831;
}

.footer_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer_text {
  font-size: 16px;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.what_img img {
  max-width: 50%;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.what {
  padding: 50px 0;
}

.what_row {
  display: flex;
}

.what_body {
  flex: 1 1 auto;
  padding: 0 0 0 10px;
}

.what_title {

  margin: 0 0 33px 0;
}

.what_text {
  font-size: 16px;
  line-height: 24px;

}

.what_text p {
  margin: 0 0 25px 0;
}

.columns {
  background-color: #dadada;
  padding: 50px 0;

}

.container {}

.columns_title {}

.title {
  text-align: center;
  margin: 0 0 50px 0;
}

.columns_row {
  display: flex;
  flex-wrap: wrap;


}

.columns_column {
  flex: 0 1 50%;
  margin: 0 0 20px 0;

}

.columns_item {}

.item {}

.item_row {
  display: flex;
}

.item_img img {
  max-width: 100%;
}

.item_img {
  flex: 0 0 100px;
}

.item_body {
  flex: 1 1 auto;
  padding: 0 0 0 15px;
}

.item_title {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.item_text {
  font-size: 14px;
  line-height: 1.2;

}